*~
/bin/
/target/

.classpath
.project
.settings/

mappings/
datasets/
linksets/
log/
logs/
publications-*/
old/
tmp/
/eval/
!src/org/aksw/mandolin/eval
pgsql/db/

.DS_Store
*.log
*.lp
*.mps

compile.sh