<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE" name="example-config">
	<Properties>
		<Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
		<Property name="LOG_DIR">logs</Property>
		<Property name="ARCHIVE">${LOG_DIR}/archive</Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>
		<RollingFile name="fileWriter" fileName="${LOG_DIR}/mlnf.log"
			filePattern="${ARCHIVE}/mlnf.log.%d{yyyy-MM-dd-hh-mm}.gz">
			<PatternLayout pattern="${PATTERN}" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="fileWriter" />
		</Root>
	</Loggers>

</Configuration>